<ion-header>

  <ion-navbar color=secondary>
    <ion-title text-align: center> {{pictoHome.nombre}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="card-background-page">

      <ion-card *ngFor="let picto of pictos; let i=index">

      <img [src]="picto.img"/>

        <ion-card-content text-align: center>
            <h1><strong>{{picto.nombre}}</strong></h1>
        </ion-card-content>

        <ion-row *ngIf="muestra_botones">

         <ion-col>
           <button ion-button icon-left clear small
                   (click)="cambiarPicto()">
             <ion-icon name="text"></ion-icon>
             <div>Cambiar Picto</div>
           </button>
         </ion-col>

         <ion-col>
           <button ion-button icon-left clear small
                   (click)="borrarPicto( i )">
             <ion-icon name="thumbs-up"></ion-icon>
             <div>Borrar</div>
           </button>
         </ion-col>

        </ion-row>

    </ion-card>

</ion-content>
