<ion-header>

  <ion-navbar>
    <ion-title>Configurar {{pictoPagina.nombre}}</ion-title>
    <ion-buttons end>
        <button ion-button
                (click)="cerrar()">
            <ion-icon name="close-circle"> Cerrar</ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<button ion-button
        block
        [navPush]="acerca_de">
    <ion-icon name="eye"> A cerca de Mi CUCO</ion-icon>
</button>

<ion-content>

  <div text-center>
    <br />
    <button ion-button
             (click)="irAddPicto ( pictoPagina.id )">
        <ion-icon name="add-circle"> Añadir pictograma </ion-icon>
    </button>
  </div>

  <div>
    <br />
    <ion-list  reorder="true" (ionItemReorder)="reordenar( $event )">
      <ion-item-sliding  *ngFor="let picto of this._almacen.pictos; let i=index">

        <ion-item *ngIf="picto.pagina==pictoPagina.id">
          <ion-avatar item-start>
            <img [src]="picto.img"/>
          </ion-avatar>
          <h2>{{picto.nombre}}</h2>
        </ion-item>

        <ion-item-options side="right">
          <button ion-button color="secondary"
                  (click)="editarPicto( picto )">
            <ion-icon name="images"></ion-icon>
            Editar
          </button>

          <button ion-button color="danger"
                  (click)="borrarPicto( picto )">
            <ion-icon name="trash"></ion-icon>
            Borrar
          </button>
        </ion-item-options>

      </ion-item-sliding>
    </ion-list>
  </div>
</ion-content>
