<ion-header>
  <ion-navbar color=primary>
    <ion-title>Mi CUCO</ion-title>
    <ion-buttons end>
      <button ion-button
              [navPush]="acerca_de">
          Acerca de
      </button>
        <button ion-button
                *ngIf="muestra_botones"
                (click)="muestra_botones=false">
            Finalizar
        </button>
        <button ion-button
                *ngIf="!muestra_botones"
                (click)="muestra_botones=true">
            Configurar
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">

      <ion-card *ngFor="let picto of this._almacen.pictos; let i=index">
        <div *ngIf="picto.pagina==0">
          <img [src]="picto.img"
               (click)="irAPagina( picto )"/>

          <ion-card-content text-align: center
                            (click)="irAPagina( picto )">
              <h1><strong>{{picto.nombre}}</strong></h1>
          </ion-card-content>

          <ion-row *ngIf="muestra_botones">

           <ion-col text-left>
             <button ion-button icon-left clear small
                     (click)="cambiarPicto(i)">
               <ion-icon name="text"></ion-icon>
               <div>Cambiar Picto</div>
             </button>
           </ion-col>

           <ion-col text-right>
             <button ion-button icon-left clear small
                     (click)="borrarPicto( i )">
               <ion-icon name="thumbs-up"></ion-icon>
               <div>Borrar</div>
             </button>
           </ion-col>

          </ion-row>
        </div>
    </ion-card>

</ion-content>
