<ion-header>
  <ion-navbar color=primary>
    <ion-title>
      <ion-icon name="eye" [navPush]="manual">
        <img src="assets/pictos/cuco.png"/> Mi CUCO
      </ion-icon>
    </ion-title>

    <ion-buttons end>
      <button ion-button [navPush]="configuracion">
        <ion-icon name="settings" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
  <span *ngFor="let picto of this._almacen.pictos; let i=index">
    <ion-card *ngIf="picto.pagina==0">
      <img [src]="picto.img"
           (click)="irAPagina( picto )"/>
      <ion-card-content text-align: center
                        (click)="irAPagina( picto )">
          <h1><strong>{{picto.nombre}}</strong></h1>
      </ion-card-content>
    </ion-card>
  </span>
</ion-content>
