<ion-header>

  <ion-navbar>
    <ion-title>Configuración Mi CUCO</ion-title>
    <ion-buttons end>
        <button ion-button
                (click)="cerrar_modal()">
            Cerrar
        </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list>
    <ion-item>
      <ion-avatar item-start>
        <img src = "../../assets/pictos/MiCUCO.jpg"
             [navPush]="paginaHome"/>
      </ion-avatar>
      <h2 [navPush]="configHome">Configurar: Página principal</h2>
    </ion-item>
    <ion-item-sliding *ngFor="let picto of this._almacen.pictos; let i=index">
      <ion-item *ngIf="picto.pagina==0">
        <ion-avatar item-start>
          <img [src]="picto.img"
               (click)="irAConfigurarPagina( picto )"/>
        </ion-avatar>
        <h2 (click)="irAConfigurarPagina( picto )">Configurar:  {{picto.nombre}}</h2>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

  <button ion-button
          block
          [navPush]="acerca_de">
      <ion-icon name="eye"> A cerca de Mi CUCO</ion-icon>
  </button>

</ion-content>
