<ion-header>

  <ion-navbar>
    <ion-title>Configura Mi CUCO</ion-title>
    <ion-buttons end>
      <button ion-button
              (click)="cerrar()">
        <ion-icon name="close-circle"> Cerrar</ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let picto of this._almacen.pictos; let i=index">
      <ion-item *ngIf="picto.pagina==10 ">
        <ion-avatar item-start>
          <img [src]="picto.img"
               [navPush]="paginaHome"/>
        </ion-avatar>
        <h2 [navPush]="configHome">Configurar:  {{picto.nombre}}</h2>
      </ion-item>
      <ion-item *ngIf="picto.pagina==0">
        <ion-avatar item-start>
          <img [src]="picto.img"
               (click)="irAConfigurarPagina( picto )"/>
        </ion-avatar>
        <h2 (click)="irAConfigurarPagina( picto )">Configurar:  {{picto.nombre}}</h2>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

  <button ion-button
          block
          [navPush]="acerca_de">
      <ion-icon name="eye"> Acerca de Mi CUCO</ion-icon>
  </button>

</ion-content>
